# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
# MODIFICATION: Un-ignore the Prisma Client folder so it can be committed.
!/node_modules/.prisma/client

# local env files
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# vercel
.vercel

# next.js
/.next/
/out/

# build
/build

# turbo
.turbo
